*.swp
pom.xml
*jar
*map
/lib/
/classes/
/out/
/static/syllable/out/
/bin/
/target/classes
/target/stale
/target/test-classes
/target/*SNAPSHOT.jar
.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-failures
.lein-plugins/
